<p>DeFi DonationはCompound（等）のDeFiから得た利息を元に寄付を行うテストサイトです</p>
<p>rDai等を用いない、シンプルな実装ですが、原理を理解する上で役に立つはずです</p>
<p>現在Rinkebyネットワーク環境のみ稼働しています</p>
<hr>
<p>
  <span style="text-decoration: underline">Before 1st Step</span> : EtherやUSDCをお持ちでない方は、PROJECTSページ下部からFaucet等にて取得してください。またMetamaskの利用が前提ですので、Metamaskをインストールしてください。
  <br><img src="../../assets/before.png" alt="before" style="width:50%;">
</p>
<hr>
<p>
  <span style="text-decoration: underline">1st Step</span> : 寄付用のアカウントを作成してください。
  <br><img src="../../assets/1st.png" alt="1st" style="width:50%;">
</p>
<hr>
<p>
  <span style="text-decoration: underline">2nd Step</span> : デポジットをするためには、送金の許可が必要なので、送金を許可してください。
  <br><img src="../../assets/2nd.png" alt="2nd" style="width:100%;">
</p>
<hr>
<p>
  <span style="text-decoration: underline">3rd Step</span> : 利息を得るためにDeFiのプロジェクトにデポジットしてください。
  <br><img src="../../assets/3rd.png" alt="3rd" style="width:100%;">
</p>
<hr>
<p>
  <span style="text-decoration: underline">4th Step</span> : 実際に寄付をするプロジェクトにいくら寄付するか登録してください。
  <br><img src="../../assets/4th.png" alt="4th" style="width:50%;">
</p>
<hr>
<p>
  <span style="text-decoration: underline">5th Step</span> : 利息がたまる等して寄付ができる残高になったときには、寄付を実行してください。（利息にかかわらず、デポジットした残高から差し引かれます）
  <br><img src="../../assets/5th.png" alt="5th" style="width:50%;">
</p>
<hr>
<p>
  <span style="text-decoration: underline">6th Step</span> : デポジットした金額を引き出す場合は、引き出しを実施してください。寄付を登録している場合は、先に寄付の実施が必要になります。
  <br><img src="../../assets/6th.png" alt="6th" style="width:100%;">
</p>

<h4>蛇足</h4>
<p>
  実際で展開されるサービスにおいては、UXや手数料上の理由などで何らかの形でトランザクションの発行数が抑えられていると思いますが、シンプルに実装をするとDeFi Donationのようなフローになると考えられます
</p>
<p>
  改善例1）寄付の実施は運営側が実施することで、寄付実施のトランザクションが必要なくなる -> 運営側がかなりの手数料を負担する必要が出てくる
</p>
<p>
  改善例2）デポジット引き出しのタイミングで同時に寄付を実施することで、寄付実施のトランザクションが必要なくなる -> 今のところデメリットはDeFi Donationと比較してなし?
</p>
<p>
  改善例3）デポジットのタイミングで、寄付の登録も同時に行う -> 今のところデメリットはDeFi Donationと比較してなし?
</p>

