<div class="container">

    <h1>DeFi Donation</h1>

    <p>Deposit And Donate.</p>
    
    <p>DeFi DonationはDeFiからの利息の一部をプロジェクトに寄付できるサービスです</p>
    
    <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/setting" routerLinkActive="active">Setting</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>