
<div class="row">
  <div class="col-12">
      <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">プロジェクト名</label>
            <input 
              type="text" 
              class="form-control"
              name="name"
              ngModel
              required
              id="name"
              >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">プロジェクト詳細</label>
            <textarea 
              name="description" 
              rows="10" 
              class="form-control"
              ngModel
              required
              id="description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="address">寄付用アドレス</label>
            <input 
              type="text" 
              class="form-control"
              name="address"
              ngModel
              required
              id="address"
            >
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!projectForm.valid" id="submit">プロジェクト登録</button>
    </form>
  </div>
</div>